version: "3.9"

services:
  db:
    image: postgres:15
    container_name: sport-arenas-db-1
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
    volumes:
      - dev-db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sport-arenas-app-1
    restart: always
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "8000:8000"
    volumes:
      - dev-static-data:/app/static
      - ./media:/app/media

volumes:
  dev-db-data:
  dev-static-data:
